@model List<Music_Library_System.Models.Song>

@{
    ViewData["Title"] = "Songs";
}

<div class="container mt-4">
    <h1 class="mb-4">Songs</h1>

    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Title</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Album</th>
                    <th scope="col">Duration</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var song in Model)
                {
                    <tr>
                        <td>
                            <img src="@song.CoverImageUrl" alt="@song.Title" class="img-fluid" style="width: 40px; height: 40px;">
                        </td>
                        <td>@song.Title</td>
                        <td>@song.ArtistName</td>
                        <td>@song.AlbumTitle</td>
                        <td>@song.Duration</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton@(song.Id)" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton@(song.Id)">
                                    <li><a class="dropdown-item" href="#">Add to Playlist</a></li>
                                    <li><a class="dropdown-item" href="#">Like</a></li>
                                    <li><a class="dropdown-item" href="#">View Artist</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>